In [1]:
import os
import sys

from pyspark.sql.functions import count, col, sum, length

In [2]:
import pandas as pd
from IPython.display import display

# Adjust Pandas display options
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.max_rows', None)     # Show all rows (optional for large datasets)
pd.set_option('display.width', None)        # Expand display width to fit content

In [3]:
# Add the project root directory (CrashAnalysisProject) to the Python path
project_root = os.path.abspath(os.path.join(os.getcwd(), '..'))  # Adjust if needed
sys.path.append(project_root)

# Verify that the src folder is now accessible
print(sys.path)

['/usr/lib/python38.zip', '/usr/lib/python3.8', '/usr/lib/python3.8/lib-dynload', '', '/home/prakhar/Desktop/crash_analysis/venv/lib/python3.8/site-packages', '/home/prakhar/Desktop/crash_analysis']

In [4]:
data_dir = '../data/raw/'

In [5]:
# creating a spark session 
from src.utils.spark_helper import SparkHelper

spark_helper = SparkHelper()

spark = spark_helper.create_spark_session()

print(f"Spark Version: {spark.version}")

25/01/22 03:29:01 WARN Utils: Your hostname, prakhar-Predator-PH315-51 resolves to a loopback address: 127.0.1.1; using 192.168.1.15 instead (on interface wlp0s20f3)
25/01/22 03:29:01 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/01/22 03:29:03 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Spark Version: 3.5.4

In [160]:
df_person = spark.read.csv(data_dir+'Primary_Person_use.csv', header=True, inferSchema=True)

In [161]:
df_person.count()

156954

In [162]:
df_person = df_person.dropDuplicates()

In [163]:
df_person.count()

156954

In [166]:
df_unit = spark.read.csv(data_dir+'Units_use.csv', header=True, inferSchema=True)

In [8]:
df_person.select(col('PRSN_GNDR_ID')).distinct().show()

[Stage 4:>                                                        (0 + 10) / 10]

+------------+
|PRSN_GNDR_ID|
+------------+
|          NA|
|     UNKNOWN|
|        MALE|
|      FEMALE|
+------------+

In [11]:
df_person.filter(col('PRSN_GNDR_ID')=='NA').select("*").show(1)

+--------+--------+--------+------------+------------------+-----------------+--------+-----------------+------------+------------+------------+--------------+--------------+-----------+---------------------+----------------+------------------+---------------------+----------------+-----------------+---------------+---------------+------------------+--------------+-------------+--------------+-------------+---------+----------------+-----------------+---------------+--------+
|CRASH_ID|UNIT_NBR|PRSN_NBR|PRSN_TYPE_ID|PRSN_OCCPNT_POS_ID|PRSN_INJRY_SEV_ID|PRSN_AGE|PRSN_ETHNICITY_ID|PRSN_GNDR_ID|PRSN_EJCT_ID|PRSN_REST_ID|PRSN_AIRBAG_ID|PRSN_HELMET_ID|PRSN_SOL_FL|PRSN_ALC_SPEC_TYPE_ID|PRSN_ALC_RSLT_ID|PRSN_BAC_TEST_RSLT|PRSN_DRG_SPEC_TYPE_ID|PRSN_DRG_RSLT_ID|DRVR_DRG_CAT_1_ID|PRSN_DEATH_TIME|INCAP_INJRY_CNT|NONINCAP_INJRY_CNT|POSS_INJRY_CNT|NON_INJRY_CNT|UNKN_INJRY_CNT|TOT_INJRY_CNT|DEATH_CNT|DRVR_LIC_TYPE_ID|DRVR_LIC_STATE_ID|DRVR_LIC_CLS_ID|DRVR_ZIP|
+--------+--------+--------+------------+------------------+-----------------+--------+-----------------+------------+------------+------------+--------------+--------------+-----------+---------------------+----------------+------------------+---------------------+----------------+-----------------+---------------+---------------+------------------+--------------+-------------+--------------+-------------+---------+----------------+-----------------+---------------+--------+
|14885193|       1|       1|      DRIVER|        FRONT LEFT|               NA|      NA|               NA|          NA|          NA|          NA|            NA|NOT APPLICABLE|       NULL|                   NA|              NA|                NA|                   NA|              NA|               NA|           NULL|              0|                 0|             0|            0|             1|            0|        0|              NA|               NA|             NA|    NULL|
+--------+--------+--------+------------+------------------+-----------------+--------+-----------------+------------+------------+------------+--------------+--------------+-----------+---------------------+----------------+------------------+---------------------+----------------+-----------------+---------------+---------------+------------------+--------------+-------------+--------------+-------------+---------+----------------+-----------------+---------------+--------+
only showing top 1 row

In [15]:
df_person.select("DRVR_LIC_STATE_ID").distinct().show(truncate=False)

+-----------------+
|DRVR_LIC_STATE_ID|
+-----------------+
|Utah             |
|Minnesota        |
|Ohio             |
|Arkansas         |
|Oregon           |
|NA               |
|Texas            |
|North Dakota     |
|Pennsylvania     |
|Connecticut      |
|Nebraska         |
|Vermont          |
|Nevada           |
|Puerto Rico      |
|Washington       |
|Illinois         |
|Oklahoma         |
|Unknown          |
|Other            |
|Alaska           |
+-----------------+
only showing top 20 rows

In [18]:
df_person.filter(col("DRVR_LIC_STATE_ID").isNull()).count()

0

In [20]:
df_temp=df_person.select("DRVR_LIC_STATE_ID").distinct().toPandas()
display(df_temp)

           DRVR_LIC_STATE_ID
0                       Utah
1                  Minnesota
2                       Ohio
3                   Arkansas
4                     Oregon
5                         NA
6                      Texas
7               North Dakota
8               Pennsylvania
9                Connecticut
10                  Nebraska
11                   Vermont
12                    Nevada
13               Puerto Rico
14                Washington
15                  Illinois
16                  Oklahoma
17                   Unknown
18                     Other
19                    Alaska
20                New Mexico
21             West Virginia
22                  Missouri
23                    Mexico
24                   Georgia
25                   Montana
26                  Michigan
27                  Virginia
28            North Carolina
29                   Wyoming
30                    Kansas
31                New Jersey
32                  Maryland
33                   Alabama
34                   Arizona
35                      Iowa
36                    Canada
37             Massachusetts
38                  Kentucky
39                 Louisiana
40               Mississippi
41                 Tennessee
42             New Hampshire
43                   Florida
44                   Indiana
45                     Idaho
46            South Carolina
47                California
48                  New York
49                 Wisconsin
50                  Colorado
51                     Maine
52                    Hawaii
53  Northern Mariana Islands
54      District of Columbia
55  American Samoa (Islands)
56              South Dakota
57                  Delaware
58              Rhode Island
59       U.S. Virgin Islands
60                      Guam
61               Wake Island

In [23]:
df_person.filter(col("DRVR_LIC_STATE_ID")=='NA').count()

9854

In [24]:
df_temp=df_unit.select("VEH_LIC_STATE_ID").distinct().toPandas()
display(df_temp)

   VEH_LIC_STATE_ID
0                AZ
1                SC
2                LA
3                MN
4                NJ
5                MX
6                OR
7                NA
8                98
9                VA
10               RI
11               KY
12               WY
13               NH
14               MI
15               NV
16               WI
17               ID
18               CA
19               CT
20               NE
21               MT
22               NC
23               VT
24               MD
25               MO
26               IL
27               WA
28               ND
29               MS
30               AL
31               IN
32               OH
33               TN
34               NM
35               IA
36               PA
37               SD
38               NY
39               UN
40               TX
41               WV
42               GA
43               MA
44               KS
45               FL
46               CO
47               AR
48               OK
49               UT
50               CD
51               DC
52               DE
53               ME
54               US
55               AS
56               AK
57               HI
58               DS

In [25]:
df_unit.filter(col("VEH_LIC_STATE_ID")=='NA').count()

6065

In [27]:
df_unit.count()

173499

In [28]:
df_person.count()

156954

In [29]:
df_person_females = df_person.filter(col('PRSN_GNDR_ID')=='FEMALE').select('CRASH_ID')

In [30]:
df_person_females.show()

+--------+
|CRASH_ID|
+--------+
|14838641|
|14838685|
|14838768|
|14838841|
|14838842|
|14838842|
|14839046|
|14839097|
|14839240|
|14839240|
|14839272|
|14839272|
|14839307|
|14839404|
|14839404|
|14839472|
|14839642|
|14839721|
|14839735|
|14839747|
+--------+
only showing top 20 rows

In [31]:
df_person_females.count()

58941

In [33]:
df_states = df_unit.select('CRASH_ID', 'VEH_LIC_STATE_ID').join(df_person_females, 'CRASH_ID', 'left_anti')

In [42]:
df_states.groupBy('VEH_LIC_STATE_ID').agg(count("*").alias('cnt')).select('VEH_LIC_STATE_ID', 'cnt').orderBy(col('cnt').desc()).show()

+----------------+-----+
|VEH_LIC_STATE_ID|  cnt|
+----------------+-----+
|              TX|63247|
|              NA| 3864|
|              UN|  885|
|              OK|  480|
|              LA|  380|
|              IN|  363|
|              NM|  327|
|              MX|  268|
|              CA|  254|
|              IL|  220|
|              FL|  208|
|              TN|  173|
|              AR|  165|
|              AZ|  137|
|              MS|  121|
|              KS|  100|
|              MO|   99|
|              GA|   92|
|              NC|   84|
|              CO|   76|
+----------------+-----+
only showing top 20 rows

In [41]:
df_states.filter(col('VEH_LIC_STATE_ID')=='NA').count()

3864

In [43]:
df_states_2 = df_person.select('CRASH_ID', 'DRVR_LIC_STATE_ID').join(df_person_females, 'CRASH_ID', 'left_anti')

In [44]:
df_states_2.groupBy('DRVR_LIC_STATE_ID').agg(count("*").alias('cnt')).select('DRVR_LIC_STATE_ID', 'cnt').orderBy(col('cnt').desc()).show()

+-----------------+-----+
|DRVR_LIC_STATE_ID|  cnt|
+-----------------+-----+
|            Texas|51957|
|               NA| 4553|
|          Unknown| 1133|
|           Mexico|  497|
|        Louisiana|  351|
|       New Mexico|  302|
|       California|  287|
|          Florida|  270|
|         Oklahoma|  232|
|            Other|  154|
|         Arkansas|  144|
|          Arizona|  110|
|          Georgia|  100|
|         Illinois|   87|
|   North Carolina|   86|
|      Mississippi|   86|
|         Colorado|   81|
|        Tennessee|   79|
|         Missouri|   72|
|         Michigan|   62|
+-----------------+-----+
only showing top 20 rows

In [ ]:
df_person = df_person.filter(col('PRSN_GNDR_ID')=='MALE')

In [45]:
df_person = spark.read.csv(data_dir+'Primary_Person_use.csv', header=True, inferSchema=True)

# Filter person data to exclude female records
df_person = df_person.filter(col('PRSN_GNDR_ID') != 'MALE').select('CRASH_ID', 'DRVR_LIC_STATE_ID')

df_person.show()

+--------+-----------------+
|CRASH_ID|DRVR_LIC_STATE_ID|
+--------+-----------------+
|14838641|            Texas|
|14838685|            Texas|
|14838768|            Texas|
|14838841|            Texas|
|14838842|            Texas|
|14838842|            Texas|
|14839046|            Texas|
|14839097|            Texas|
|14839240|            Texas|
|14839240|            Texas|
|14839272|            Texas|
|14839272|            Texas|
|14839307|            Texas|
|14839343|          Unknown|
|14839404|            Texas|
|14839404|            Texas|
|14839472|            Texas|
|14839642|            Texas|
|14839713|               NA|
|14839721|            Texas|
+--------+-----------------+
only showing top 20 rows

In [46]:
# Creating another DataFrame with valid license addresses
df_valid_license = df_person.filter(col('DRVR_LIC_STATE_ID') != 'NA').select('CRASH_ID', 'DRVR_LIC_STATE_ID')

df_valid_license.show()

+--------+-----------------+
|CRASH_ID|DRVR_LIC_STATE_ID|
+--------+-----------------+
|14838641|            Texas|
|14838685|            Texas|
|14838768|            Texas|
|14838841|            Texas|
|14838842|            Texas|
|14838842|            Texas|
|14839046|            Texas|
|14839097|            Texas|
|14839240|            Texas|
|14839240|            Texas|
|14839272|            Texas|
|14839272|            Texas|
|14839307|            Texas|
|14839343|          Unknown|
|14839404|            Texas|
|14839404|            Texas|
|14839472|            Texas|
|14839642|            Texas|
|14839721|            Texas|
|14839735|            Texas|
+--------+-----------------+
only showing top 20 rows

In [50]:
# Get all crashes where females were not involved
df_crashes = df_valid_license.join(df_person.select('CRASH_ID'), 'CRASH_ID', 'left_anti')

df_crashes.show()

+--------+-----------------+
|CRASH_ID|DRVR_LIC_STATE_ID|
+--------+-----------------+
+--------+-----------------+

In [ ]:
# Get top state
result_df = df_crashes.groupBy('DRVR_LIC_STATE_ID') \
                       .agg(count("*").alias('cnt')) \
                       .orderBy(col('cnt').desc()) \
                       .limit(1)

result_df.show()

In [21]:
df_unit.count()

173499

In [22]:
df_unit = df_unit.dropDuplicates()

In [23]:
df_unit.count()

168124

In [24]:
df_unit.groupBy('CRASH_ID').agg(count("*").alias('cnt')).select("CRASH_ID", 'cnt').orderBy(col('cnt').desc()).show()

[Stage 28:============>                                           (3 + 10) / 13]

+--------+---+
|CRASH_ID|cnt|
+--------+---+
|15474337| 19|
|15146770| 14|
|15487600| 13|
|14918153| 12|
|15329323| 12|
|15097577| 11|
|15460374| 11|
|15303013| 10|
|15336813| 10|
|15292692| 10|
|15234886| 10|
|15113422| 10|
|15192049|  9|
|14987833|  9|
|15504269|  9|
|15282403|  9|
|15049908|  8|
|15418533|  8|
|15140007|  8|
|15086342|  8|
+--------+---+
only showing top 20 rows

In [11]:
df_unit.columns

['CRASH_ID',
 'UNIT_NBR',
 'UNIT_DESC_ID',
 'VEH_PARKED_FL',
 'VEH_HNR_FL',
 'VEH_LIC_STATE_ID',
 'VIN',
 'VEH_MOD_YEAR',
 'VEH_COLOR_ID',
 'VEH_MAKE_ID',
 'VEH_MOD_ID',
 'VEH_BODY_STYL_ID',
 'EMER_RESPNDR_FL',
 'OWNR_ZIP',
 'FIN_RESP_PROOF_ID',
 'FIN_RESP_TYPE_ID',
 'VEH_DMAG_AREA_1_ID',
 'VEH_DMAG_SCL_1_ID',
 'FORCE_DIR_1_ID',
 'VEH_DMAG_AREA_2_ID',
 'VEH_DMAG_SCL_2_ID',
 'FORCE_DIR_2_ID',
 'VEH_INVENTORIED_FL',
 'VEH_TRANSP_NAME',
 'VEH_TRANSP_DEST',
 'CONTRIB_FACTR_1_ID',
 'CONTRIB_FACTR_2_ID',
 'CONTRIB_FACTR_P1_ID',
 'VEH_TRVL_DIR_ID',
 'FIRST_HARM_EVT_INV_ID',
 'INCAP_INJRY_CNT',
 'NONINCAP_INJRY_CNT',
 'POSS_INJRY_CNT',
 'NON_INJRY_CNT',
 'UNKN_INJRY_CNT',
 'TOT_INJRY_CNT',
 'DEATH_CNT']

In [28]:
df_unit = df_unit.filter(~(col('VEH_MAKE_ID')=='NA'))

In [29]:
df_temp = df_unit.filter(col('CRASH_ID')=='15131538').select('*').toPandas()

In [30]:
display(df_temp)

,CRASH_ID,UNIT_NBR,UNIT_DESC_ID,VEH_PARKED_FL,VEH_HNR_FL,VEH_LIC_STATE_ID,VIN,VEH_MOD_YEAR,VEH_COLOR_ID,VEH_MAKE_ID,VEH_MOD_ID,VEH_BODY_STYL_ID,EMER_RESPNDR_FL,OWNR_ZIP,FIN_RESP_PROOF_ID,FIN_RESP_TYPE_ID,VEH_DMAG_AREA_1_ID,VEH_DMAG_SCL_1_ID,FORCE_DIR_1_ID,VEH_DMAG_AREA_2_ID,VEH_DMAG_SCL_2_ID,FORCE_DIR_2_ID,VEH_INVENTORIED_FL,VEH_TRANSP_NAME,VEH_TRANSP_DEST,CONTRIB_FACTR_1_ID,CONTRIB_FACTR_2_ID,CONTRIB_FACTR_P1_ID,VEH_TRVL_DIR_ID,FIRST_HARM_EVT_INV_ID,INCAP_INJRY_CNT,NONINCAP_INJRY_CNT,POSS_INJRY_CNT,NON_INJRY_CNT,UNKN_INJRY_CNT,TOT_INJRY_CNT,DEATH_CNT
0,15131538,8,MOTOR VEHICLE,N,N,TX,1C6RR6FT9FS770428,NA,WHI,DODGE,RAM TRUCK 1500,PICKUP,N,63132,1,PROOF OF LIABILITY INSURANCE,BACK END DAMAGE DISTRIBUTED IMPACT,DAMAGED 1 MINIMUM,6,NA,NA,NA,N,DRIVER,AWAY FROM SCENE,NONE,NA,NA,SOUTH,N,0,0,0,1,0,0,0
1,15131538,4,MOTOR VEHICLE,N,N,OK,1FUJGHDV2ALAU1293,NA,WHI,FREIGHTLINER,NA,TRUCK TRACTOR,N,73128,1,PROOF OF LIABILITY INSURANCE,FRONT END DAMAGE DISTRIBUTED IMPACT,DAMAGED 3,12,NA,NA,NA,Y,DRAKES WRECKER SERVICE 936-348-6419,"2303 E MAIN MADISONVILLE, TX 77864",NONE,NA,NA,SOUTH,N,0,1,0,0,0,1,0
2,15131538,3,MOTOR VEHICLE,N,N,TX,1GCEC29009Z206424,NA,WHI,CHEVROLET,SILVERADO,PICKUP,N,77320,1,PROOF OF LIABILITY INSURANCE,BACK END DAMAGE DISTRIBUTED IMPACT,DAMAGED 7 HIGHEST,6,FRONT END DAMAGE DISTRIBUTED IMPACT,DAMAGED 7 HIGHEST,12,Y,DRAKES WRECKER SERVICE 936-348-6419,"2303 E MAIN ST MADISONVILLE, TX 77864",NONE,NA,NA,SOUTH,Y,0,0,0,0,0,0,1
3,15131538,7,MOTOR VEHICLE,N,N,TX,2GEC19V051303129,2005,SIL,CHEVROLET,SILVERADO,PICKUP,N,77364,1,PROOF OF LIABILITY INSURANCE,BACK END DAMAGE DISTRIBUTED IMPACT,DAMAGED 3,6,NA,NA,NA,Y,DRAKES WRECKER SERVICE 936-348-6419,"2303 E MAIN MADISONVILLE, TX 77864",NONE,NA,NA,SOUTH,N,0,2,0,0,0,2,0
4,15131538,1,MOTOR VEHICLE,N,N,IA,1FUJBBCG33PK31353,2003,RED,FREIGHTLINER,UNKNOWN,TRUCK TRACTOR,N,50322,1,PROOF OF LIABILITY INSURANCE,FRONT END DAMAGE DISTRIBUTED IMPACT,DAMAGED 5,12,NA,NA,NA,Y,DRAKES WRECKER SERVICE 936-348-6419,"2303 E MAIN ST MADISONVILLE, TX 77864",FAILED TO CONTROL SPEED,NA,DISTRACTION IN VEHICLE,SOUTH,Y,0,1,0,0,0,1,0

In [36]:
df_unit.groupBy('CRASH_ID', 'UNIT_NBR').agg(count("*").alias('cnt')).select("CRASH_ID", 'UNIT_NBR', 'cnt').orderBy(col('cnt').desc()).show()

[Stage 53:============>                                           (3 + 10) / 13]

+--------+--------+---+
|CRASH_ID|UNIT_NBR|cnt|
+--------+--------+---+
|15105047|       1|  4|
|15209943|       1|  4|
|14981993|       2|  4|
|15040169|       1|  2|
|15182656|       1|  2|
|14997993|       3|  2|
|15055823|       3|  2|
|15251610|       2|  2|
|15168887|       1|  2|
|15277463|       2|  2|
|15255783|       2|  2|
|15301379|       2|  2|
|15347161|       2|  2|
|15186691|       3|  2|
|15004548|       2|  2|
|15024881|       3|  2|
|15146100|       2|  2|
|15051934|       3|  2|
|15184579|       2|  2|
|15275772|       4|  2|
+--------+--------+---+
only showing top 20 rows

In [34]:
df_temp = df_unit.filter((col('CRASH_ID')=='14981993') & (col('VIN')=='3AKJGLD51FSGD5075')).select('*').toPandas()
display(df_temp)

,CRASH_ID,UNIT_NBR,UNIT_DESC_ID,VEH_PARKED_FL,VEH_HNR_FL,VEH_LIC_STATE_ID,VIN,VEH_MOD_YEAR,VEH_COLOR_ID,VEH_MAKE_ID,VEH_MOD_ID,VEH_BODY_STYL_ID,EMER_RESPNDR_FL,OWNR_ZIP,FIN_RESP_PROOF_ID,FIN_RESP_TYPE_ID,VEH_DMAG_AREA_1_ID,VEH_DMAG_SCL_1_ID,FORCE_DIR_1_ID,VEH_DMAG_AREA_2_ID,VEH_DMAG_SCL_2_ID,FORCE_DIR_2_ID,VEH_INVENTORIED_FL,VEH_TRANSP_NAME,VEH_TRANSP_DEST,CONTRIB_FACTR_1_ID,CONTRIB_FACTR_2_ID,CONTRIB_FACTR_P1_ID,VEH_TRVL_DIR_ID,FIRST_HARM_EVT_INV_ID,INCAP_INJRY_CNT,NONINCAP_INJRY_CNT,POSS_INJRY_CNT,NON_INJRY_CNT,UNKN_INJRY_CNT,TOT_INJRY_CNT,DEATH_CNT
0,14981993,2,MOTOR VEHICLE,N,N,IN,3AKJGLD51FSGD5075,NA,WHI,FREIGHTLINER,UNKNOWN,TRUCK TRACTOR,N,46406,1,LIABILITY INSURANCE POLICY,"NOT APPLICABLE ( FARM TRACTOR, ETC.)",NA,NA,"NOT APPLICABLE ( FARM TRACTOR, ETC.)",NA,NA,None,None,None,CHANGED LANE WHEN UNSAFE,NA,DRIVER INATTENTION,SOUTH,Y,0,0,0,1,0,0,0
1,14981993,2,MOTOR VEHICLE,N,N,IN,3AKJGLD51FSGD5075,NA,WHI,FREIGHTLINER,UNKNOWN,TRUCK TRACTOR,N,46406,1,LIABILITY INSURANCE POLICY,"NOT APPLICABLE ( FARM TRACTOR, ETC.)",NA,NA,"NOT APPLICABLE (MOTORCYCLE, FARM TRACTOR, ETC.)",NA,NA,None,None,None,CHANGED LANE WHEN UNSAFE,NA,DRIVER INATTENTION,SOUTH,Y,0,0,0,1,0,0,0
2,14981993,2,MOTOR VEHICLE,N,N,IN,3AKJGLD51FSGD5075,NA,WHI,FREIGHTLINER,UNKNOWN,TRUCK TRACTOR,N,46406,1,LIABILITY INSURANCE POLICY,"NOT APPLICABLE (MOTORCYCLE, FARM TRACTOR, ETC.)",NA,NA,"NOT APPLICABLE ( FARM TRACTOR, ETC.)",NA,NA,None,None,None,CHANGED LANE WHEN UNSAFE,NA,DRIVER INATTENTION,SOUTH,Y,0,0,0,1,0,0,0
3,14981993,2,MOTOR VEHICLE,N,N,IN,3AKJGLD51FSGD5075,NA,WHI,FREIGHTLINER,UNKNOWN,TRUCK TRACTOR,N,46406,1,LIABILITY INSURANCE POLICY,"NOT APPLICABLE (MOTORCYCLE, FARM TRACTOR, ETC.)",NA,NA,"NOT APPLICABLE (MOTORCYCLE, FARM TRACTOR, ETC.)",NA,NA,None,None,None,CHANGED LANE WHEN UNSAFE,NA,DRIVER INATTENTION,SOUTH,Y,0,0,0,1,0,0,0

In [45]:
df_temp = df_unit.filter(col('VEH_MAKE_ID')==("NA")).limit(5).toPandas()
display(df_temp)

,CRASH_ID,UNIT_NBR,UNIT_DESC_ID,VEH_PARKED_FL,VEH_HNR_FL,VEH_LIC_STATE_ID,VIN,VEH_MOD_YEAR,VEH_COLOR_ID,VEH_MAKE_ID,VEH_MOD_ID,VEH_BODY_STYL_ID,EMER_RESPNDR_FL,OWNR_ZIP,FIN_RESP_PROOF_ID,FIN_RESP_TYPE_ID,VEH_DMAG_AREA_1_ID,VEH_DMAG_SCL_1_ID,FORCE_DIR_1_ID,VEH_DMAG_AREA_2_ID,VEH_DMAG_SCL_2_ID,FORCE_DIR_2_ID,VEH_INVENTORIED_FL,VEH_TRANSP_NAME,VEH_TRANSP_DEST,CONTRIB_FACTR_1_ID,CONTRIB_FACTR_2_ID,CONTRIB_FACTR_P1_ID,VEH_TRVL_DIR_ID,FIRST_HARM_EVT_INV_ID,INCAP_INJRY_CNT,NONINCAP_INJRY_CNT,POSS_INJRY_CNT,NON_INJRY_CNT,UNKN_INJRY_CNT,TOT_INJRY_CNT,DEATH_CNT
0,14838637,3,TOWED/TRAILER,None,None,NA,None,NA,NA,NA,NA,NA,None,78934,NA,NA,NA,NA,NA,NA,NA,NA,None,None,None,NONE,NA,NA,NOT APPLICABLE,N,0,0,0,0,0,0,0
1,14842916,2,TOWED/TRAILER,None,None,NA,None,NA,NA,NA,NA,NA,None,77028,NA,NA,NA,NA,NA,NA,NA,NA,None,None,None,NONE,NA,NA,NOT APPLICABLE,N,0,0,0,0,0,0,0
2,14842987,4,MOTOR VEHICLE,N,Y,UN,None,NA,99,NA,NA,UNKNOWN,N,None,2,NA,BACK END DAMAGE DISTRIBUTED IMPACT,DAMAGED 1 MINIMUM,6,NA,NA,NA,None,None,None,NONE,NA,NA,NORTH,N,0,0,0,0,1,0,0
3,14844370,2,TOWED/TRAILER,None,None,NA,None,NA,NA,NA,NA,NA,None,63105,NA,NA,NA,NA,NA,NA,NA,NA,None,None,None,NONE,NA,NA,NOT APPLICABLE,N,0,0,0,0,0,0,0
4,14844538,1,MOTOR VEHICLE,N,Y,TX,None,NA,WHI,NA,NA,"PASSENGER CAR, 4-DOOR",N,None,2,NA,NA,NA,NA,NA,NA,NA,N,FLED THE SCENE,None,NA,NA,FAILED TO DRIVE IN SINGLE LANE,SOUTHEAST,N,0,0,0,0,1,0,0

In [9]:
df_temp = df_unit.select(col('VEH_MAKE_ID')).distinct().orderBy('VEH_MAKE_ID').toPandas()
display(df_temp)

                           VEH_MAKE_ID
0                                ACURA
1                           ALFA ROMEO
2                      ALL OTHER MAKES
3                           AM GENERAL
4                  AMERICAN IRON HORSE
5                      AMERICAN MOTORS
6                              APRILIA
7                         ASTON MARTIN
8                                 AUDI
9                              AUTOCAR
10                         AUTOCAR LLC
11                             BENTLEY
12                           BLUE BIRD
13                                 BMW
14           BRI-MAR MANUFACTURING LLC
15                               BUELL
16                             BUGATTI
17                               BUICK
18                    BUS & COACH INTL
19                            CADILLAC
20                              CAN-AM
21                         CATERPILLAR
22         CHALLENGE-COOK BROTHERS INC
23                           CHEVROLET
24                            CHRYSLER
25                       COUNTRY COACH
26                       CRANE CARRIER
27                       D & B TRAILER
28                              DAEWOO
29                              DATSUN
30                               DODGE
31                              DUCATI
32                        EAGER BEAVER
33                               EAGLE
34                       EAGLE TRANSIT
35                            ELDORADO
36                       EMERGENCY ONE
37                 FEATHERLITE MFG INC
38                      FEDERAL MOTORS
39                             FERRARI
40                                FIAT
41                  FLOE INTERNATIONAL
42                        FLOW BOY MFG
43                                FORD
44                          FORETRAVEL
45                        FREIGHTLINER
46                            FRUEHAUF
47                       GALBREATH INC
48                  GENERAL TRAILER CO
49                                 GEO
50                              GILLIG
51                                  GM
52                                 GMC
53                              GRAYCO
54                     HARLEY-DAVIDSON
55                             HEIL CO
56                                HINO
57                      HOGG/DAVIS INC
58                    HOMEMADE VEHICLE
59                               HONDA
60                              HUMMER
61                             HYOSUNG
62                             HYUNDAI
63            HYUNDAI STEEL INDUSTRIES
64                      IC CORPORATION
65             INDEPENDENT TRAILER MFG
66                              INDIAN
67                            INFINITI
68        INTERMOUNTAIN WHOLE SALE INC
69                       INTERNATIONAL
70   INTERNATIONAL TANK & TRAILER CORP
71          INTERNATIONAL TRAILER CORP
72                               ISUZU
73                              JAGUAR
74                                JEEP
75                          JOHN DEERE
76                            KAWASAKI
77                        KENTUCKY MFG
78                            KENWORTH
79                                 KIA
80                               KYMCO
81                          LAND ROVER
82                               LEXUS
83                             LINCOLN
84                               LOTUS
85                             MAC LTT
86                                MACK
87                           MANAC INC
88                            MASERATI
89                               MAZDA
90                  MCI (LES AUTO BUS)
91                             MCLAREN
92                       MERCEDES-BENZ
93                             MERCURY
94       MIDLAND MANUFACTURING LIMITED
95                                MINI
96                          MITSUBISHI
97                     MITSUBISHI FUSO
98                 MOTOR COACH MND INC
99             MURPHY MANUFACTURING CO
100                                 NA
101                    NABORS TRAILERS
102                          NEW FLYER
103                             NISSAN
104                      NISSAN DIESEL
105                 NORTH AMERICAN BUS
106                               NOVA
107                   NOVA FABRICATING
108                         OLDSMOBILE
109                              ORION
110       OTHER (EXPLAIN IN NARRATIVE)
111                             OTTAWA
112                PETER PIRSCH & SONS
113                          PETERBILT
114                            PIAGGIO
115                             PIERCE
116                           PLYMOUTH
117                            POLARIS
118                            PONTIAC
119                            PORSCHE
120                            PREVOST
121                                RAM
122                            RENAULT
123            REQUIRES INTERPRETATION
124                        ROAD RAILER
125                        ROLLS-ROYCE
126                               SAAB
127                             SATURN
128                              SMART
129          SPARTA MANUFACTURING CORP
130                            SPARTAN
131                 STEPHENS PNEUMATIC
132                           STERLING
133                             SUBARU
134                       SUPREME CORP
135                             SUZUKI
136                              TESLA
137                             THOMAS
138                             TOYOTA
139                      TRI-QUEST INC
140               U-HAUL INTERNATIONAL
141                     ULTRA LITE MFG
142            UNITED EXPRESS LINE INC
143                            UNKNOWN
144                        UTILIMASTER
145                           VAN HOOL
146                              VESPA
147                            VICTORY
148                         VOLKSWAGEN
149                              VOLVO
150               WABASH NATIONAL CORP
151                       WESTERN STAR
152         WESTERN TRUCK & TRAILER CO
153                              WHITE
154                           WHITEGMC
155                          WINNEBAGO
156                          WORKHORSE
157                             YAMAHA

In [30]:
df_temp = df_unit.filter(col('UNKN_INJRY_CNT')<col('TOT_INJRY_CNT')).select("*").limit(10).toPandas()
display(df_temp)

,CRASH_ID,UNIT_NBR,UNIT_DESC_ID,VEH_PARKED_FL,VEH_HNR_FL,VEH_LIC_STATE_ID,VIN,VEH_MOD_YEAR,VEH_COLOR_ID,VEH_MAKE_ID,VEH_MOD_ID,VEH_BODY_STYL_ID,EMER_RESPNDR_FL,OWNR_ZIP,FIN_RESP_PROOF_ID,FIN_RESP_TYPE_ID,VEH_DMAG_AREA_1_ID,VEH_DMAG_SCL_1_ID,FORCE_DIR_1_ID,VEH_DMAG_AREA_2_ID,VEH_DMAG_SCL_2_ID,FORCE_DIR_2_ID,VEH_INVENTORIED_FL,VEH_TRANSP_NAME,VEH_TRANSP_DEST,CONTRIB_FACTR_1_ID,CONTRIB_FACTR_2_ID,CONTRIB_FACTR_P1_ID,VEH_TRVL_DIR_ID,FIRST_HARM_EVT_INV_ID,INCAP_INJRY_CNT,NONINCAP_INJRY_CNT,POSS_INJRY_CNT,NON_INJRY_CNT,UNKN_INJRY_CNT,TOT_INJRY_CNT,DEATH_CNT
0,14839233,1,MOTOR VEHICLE,N,N,TX,2GCEC19V341359337,2004,WHI,CHEVROLET,C1500,PICKUP,N,78146,1,LIABILITY INSURANCE POLICY,FRONT END (LEFT) DAMAGE PARTIAL CONTACT,DAMAGED 2,12,RIGHT BACK QUARTER DAMAGE ANGULAR IMPACT,DAMAGED 2,4,Y,CROSSFIRE WRECKER SVC.,"1703 S. BUS. 181 BEEVILLE, TX",UNSAFE SPEED,NA,NA,SOUTH,Y,0,0,0,0,1,0,0
1,14840537,1,MOTOR VEHICLE,N,Y,UN,None,NA,BLK,CHEVROLET,SILVERADO,PICKUP,N,None,NA,NA,FRONT END DAMAGE DISTRIBUTED IMPACT,DAMAGED 2,12,NA,NA,NA,N,DRIVER,FLED SCENE,NA,NA,UNDER INFLUENCE - ALCOHOL,EAST,Y,0,0,0,0,1,0,0
2,14840833,2,NON-CONTACT,N,N,UN,None,NA,99,UNKNOWN,UNKNOWN,SPORT UTILITY VEHICLE,N,None,2,NA,NA,NA,NA,NA,NA,NA,N,None,None,NONE,NA,NA,EAST,N,0,0,0,0,1,0,0
3,14840833,2,NON-CONTACT,N,N,UN,None,NA,99,UNKNOWN,UNKNOWN,SPORT UTILITY VEHICLE,N,None,2,NA,NA,NA,NA,NA,NA,NA,N,None,None,NONE,NA,NA,EAST,N,0,0,0,0,1,0,0
4,14842205,1,MOTOR VEHICLE,N,N,UN,None,1999,SIL,TOYOTA,TACOMA,UNKNOWN,N,78758,1,LIABILITY INSURANCE POLICY,BACK END DAMAGE DISTRIBUTED IMPACT,NO DAMAGE,6,NA,NA,NA,None,None,None,DISTRACTION IN VEHICLE,NA,DRIVER INATTENTION,SOUTH,Y,0,0,0,0,1,0,0
5,14842449,1,MOTOR VEHICLE,N,N,TX,KNDUP131336402586,2003,WHI,KIA,SEDONA,"PASSENGER CAR, 4-DOOR",N,77093,1,LIABILITY INSURANCE POLICY,FRONT END (LEFT) DAMAGE PARTIAL CONTACT,DAMAGED 3,12,NA,NA,NA,N,DRIVER,DRIVEN OFF SCENE,FAILED TO CONTROL SPEED,NA,NA,WEST,Y,0,0,0,0,1,0,0
6,14842449,2,MOTOR VEHICLE,N,N,TX,1FADP3N28EL340520,NA,GRY,FORD,FOCUS,"PASSENGER CAR, 4-DOOR",N,77080,1,LIABILITY INSURANCE POLICY,BACK END (RIGHT) DAMAGE PARTIAL CONTACT,DAMAGED 3,12,NA,NA,NA,N,DRIVER,DRIVEN OFF SCENE,NONE,NA,NA,WEST,Y,0,0,0,0,1,0,0
7,14842678,1,MOTOR VEHICLE,N,Y,OR,3D7KS28DX8G239560,NA,WHI,DODGE,RAM 2500,PICKUP,N,97063,1,PROOF OF LIABILITY INSURANCE,FRONT END DAMAGE DISTRIBUTED IMPACT,DAMAGED 1 MINIMUM,12,FRONT END (LEFT) DAMAGE PARTIAL CONTACT,DAMAGED 1 MINIMUM,11,Y,COLLISION MASTERS,"2510 W. EXP. 83, MISSION, TX 78572",FAILED TO CONTROL SPEED,NA,HAD BEEN DRINKING,NORTH,Y,0,0,0,0,1,0,0
8,14842987,4,MOTOR VEHICLE,N,Y,UN,None,NA,99,NA,NA,UNKNOWN,N,None,2,NA,BACK END DAMAGE DISTRIBUTED IMPACT,DAMAGED 1 MINIMUM,6,NA,NA,NA,None,None,None,NONE,NA,NA,NORTH,N,0,0,0,0,1,0,0
9,14844520,1,MOTOR VEHICLE,N,Y,TX,1FMYU60EX3UB26350,2003,MAR,FORD,EXPLORER,"PASSENGER CAR, 2-DOOR",N,79412,2,NA,FRONT END (LEFT) DAMAGE PARTIAL CONTACT,DAMAGED 3,2,NA,NA,NA,N,LUBBOCK WRECKER,LUBBOCK WRECKER 3209 SLATON HWY 806-7,UNSAFE SPEED,NA,NA,WEST,Y,0,0,0,0,1,0,0

In [34]:
df_temp = df_unit.filter((col('UNKN_INJRY_CNT')<col('TOT_INJRY_CNT')) & (col('UNKN_INJRY_CNT')!=0)).toPandas()
display(df_temp)

,CRASH_ID,UNIT_NBR,UNIT_DESC_ID,VEH_PARKED_FL,VEH_HNR_FL,VEH_LIC_STATE_ID,VIN,VEH_MOD_YEAR,VEH_COLOR_ID,VEH_MAKE_ID,VEH_MOD_ID,VEH_BODY_STYL_ID,EMER_RESPNDR_FL,OWNR_ZIP,FIN_RESP_PROOF_ID,FIN_RESP_TYPE_ID,VEH_DMAG_AREA_1_ID,VEH_DMAG_SCL_1_ID,FORCE_DIR_1_ID,VEH_DMAG_AREA_2_ID,VEH_DMAG_SCL_2_ID,FORCE_DIR_2_ID,VEH_INVENTORIED_FL,VEH_TRANSP_NAME,VEH_TRANSP_DEST,CONTRIB_FACTR_1_ID,CONTRIB_FACTR_2_ID,CONTRIB_FACTR_P1_ID,VEH_TRVL_DIR_ID,FIRST_HARM_EVT_INV_ID,INCAP_INJRY_CNT,NONINCAP_INJRY_CNT,POSS_INJRY_CNT,NON_INJRY_CNT,UNKN_INJRY_CNT,TOT_INJRY_CNT,DEATH_CNT
0,14901173,2,MOTOR VEHICLE,N,N,TX,1J4PS4GK2AC112493,NA,SIL,JEEP,LIBERTY,"PASSENGER CAR, 4-DOOR",N,79762,1,PROOF OF LIABILITY INSURANCE,BACK END DAMAGE DISTRIBUTED IMPACT,DAMAGED 1 MINIMUM,6,NA,NA,NA,N,DRIVEN AWAY,None,NONE,NA,NA,NORTHWEST,Y,0,2,0,2,1,2,0
1,14915516,3,MOTOR VEHICLE,N,N,TX,1FTFW1ET8CFA40930,NA,BLU,FORD,F150,TRUCK,N,None,1,LIABILITY INSURANCE POLICY,LEFT SIDE DAMAGE ANGULAR IMPACT,DAMAGED 2,10,NA,NA,NA,N,INFINITI,8210 PINEMONT,NONE,NA,NA,NORTH,N,0,1,1,0,1,2,0
2,14955128,2,MOTOR VEHICLE,N,N,TX,1FMJU1K50BEF12169,NA,WHI,FORD,EXPEDITION,SPORT UTILITY VEHICLE,N,77706,1,PROOF OF LIABILITY INSURANCE,BACK END DAMAGE CONCENTRATED IMPACT,DAMAGED 2,6,NA,NA,NA,N,None,None,NONE,NA,NA,NORTH,Y,0,0,2,0,1,2,0
3,14965140,2,MOTOR VEHICLE,N,N,TX,1B4HS28N6YF306473,2000,BLK,DODGE,DURANGO,"PASSENGER CAR, 4-DOOR",N,79835,2,NA,FRONT END DAMAGE DISTRIBUTED IMPACT,DAMAGED 4,12,BACK END DAMAGE DISTRIBUTED IMPACT,DAMAGED 3,6,Y,None,None,OTHER (EXPLAIN IN NARRATIVE),NA,OTHER (EXPLAIN IN NARRATIVE),SOUTH,Y,0,0,3,0,1,3,0
4,14994907,2,MOTOR VEHICLE,N,N,TX,1HGCG5661YA090171,2000,BLK,HONDA,ACCORD,"PASSENGER CAR, 4-DOOR",N,77038,2,NA,BACK END (LEFT) DAMAGE PARTIAL CONTACT,DAMAGED 4,6,FRONT END DAMAGE DISTRIBUTED IMPACT,DAMAGED 3,12,N,MSM TOWING,"5710 CAMPBELL RD. HOUSTON, TX 77041",NONE,NA,NA,NORTH,Y,0,2,0,0,1,2,0
5,15012315,1,MOTOR VEHICLE,N,N,TX,1C4BJWDG5EL293867,NA,RED,JEEP,WRANGLER,UNKNOWN,N,75148,1,LIABILITY INSURANCE POLICY,RIGHT FRONT QUARTER DAMAGE ANGULAR IMPACT,DAMAGED 6,3,DISTRIBUTED RIGHT SIDE DAMAGE PARALLEL IMPACT,DAMAGED 5,1,N,TANNER WRECKER SERVICE,"TANNER WRECKER SERVICE, 109 E. MITCHUM,",NONE,NA,NA,EAST,Y,0,0,2,1,1,2,0
6,15013491,1,MOTOR VEHICLE,N,N,TX,YV1LS56D8Y2660683,2000,BLU,VOLVO,S70,"PASSENGER CAR, 4-DOOR",N,75248,1,LIABILITY INSURANCE POLICY,FRONT END DAMAGE DISTRIBUTED IMPACT,DAMAGED 5,12,DISTRIBUTED RIGHT SIDE DAMAGE PARALLEL IMPACT,DAMAGED 4,3,N,CONTRACT WRECKER,"1955 VILBIG, DALLAS, TEXAS",DISREGARD STOP AND GO SIGNAL,NA,IMPAIRED VISIBILITY (EXPLAIN IN NARRATIVE),WEST,Y,0,1,1,0,1,2,0
7,15046795,2,MOTOR VEHICLE,N,N,TX,1FDSS34F61HA86335,2001,WHI,FORD,E SERIES,AMBULANCE,Y,77009,1,PROOF OF LIABILITY INSURANCE,BACK END DAMAGE DISTRIBUTED IMPACT,DAMAGED 4,1,TOP DAMAGE ONLY,NO DAMAGE,NA,N,T & T MOTORS,500 CORDELL,NONE,NA,NA,NORTH,Y,0,0,2,0,1,2,0
8,15231461,1,MOTOR VEHICLE,N,N,TX,3N1AB7AP0DL774845,NA,WHI,NISSAN,SENTRA,"PASSENGER CAR, 4-DOOR",N,75006,1,LIABILITY INSURANCE POLICY,FRONT END DAMAGE DISTRIBUTED IMPACT,DAMAGED 4,12,NA,NA,NA,Y,24 HOUR WRECKER SERVICE,24 HR WRECKER,NA,NA,DISTRACTION IN VEHICLE,NORTH,Y,0,2,1,0,1,3,0
9,15054115,2,MOTOR VEHICLE,N,N,TX,1G1ZC5E00CF255990,NA,MAR,CHEVROLET,MALIBU,"PASSENGER CAR, 4-DOOR",N,79930,1,PROOF OF LIABILITY INSURANCE,FRONT END DAMAGE DISTRIBUTED IMPACT,DAMAGED 5,12,NA,NA,NA,Y,DEPENDABLE TOWING,11615 RAILROAD,NONE,NA,NA,EAST,Y,0,0,2,0,1,2,0
10,15085627,2,MOTOR VEHICLE,N,N,CA,1C3CDZAG6CN327712,NA,RED,DODGE,AVENGER,"PASSENGER CAR, 4-DOOR",N,77060,1,PROOF OF LIABILITY INSURANCE,BACK END DAMAGE DISTRIBUTED IMPACT,DAMAGED 3,6,NA,NA,NA,N,None,RELEASED TO OWNER AT SCENE,NONE,NA,NA,SOUTH,Y,0,5,0,0,1,5,0
11,15086575,2,MOTOR VEHICLE,N,N,TX,1G4PP55K9D4156022,NA,BLK,BUICK,VERANO,"PASSENGER CAR, 4-DOOR",N,75964,1,PROOF OF LIABILITY INSURANCE,FRONT END DAMAGE DISTRIBUTED IMPACT,DAMAGED 5,12,NA,NA,NA,N,WILLIAMS WRECKER,2208 E DENMAN,NONE,NA,NA,SOUTH,Y,1,0,1,0,1,2,0
12,15129053,2,MOTOR VEHICLE,N,N,TX,2A8HR64X68R757997,NA,SIL,CHRYSLER,TOWN & COUNTRY,VAN,N,78758,1,LIABILITY INSURANCE POLICY,FRONT END DAMAGE DISTRIBUTED IMPACT,DAMAGED 4,12,NA,NA,NA,None,None,None,NONE,NA,NA,NORTH,Y,1,0,2,0,1,3,0
13,15146526,3,MOTOR VEHICLE,N,N,TX,5TDZA23CX6S392819,2006,TAN,TOYOTA,SIENNA,VAN,N,77015,1,PROOF OF LIABILITY INSURANCE,BACK END DAMAGE DISTRIBUTED IMPACT,DAMAGED 3,6,NA,NA,NA,N,RUBENS WRECKER SERVICE 830 379 8320,"6006 S SH 123, SEGUIN, TX 78155",NONE,NA,NA,NORTHEAST,Y,0,0,2,6,1,2,0
14,15172765,3,MOTOR VEHICLE,N,N,TX,2T2ZK1BA1AC016997,NA,BLK,LEXUS,RX 350,SPORT UTILITY VEHICLE,N,78746,1,PROOF OF LIABILITY INSURANCE,LEFT FRONT QUARTER DAMAGE ANGULAR IMPACT,DAMAGED 3,10,NA,NA,NA,N,EZ AUTO AND TOWING SERVICE,EZ AUTO AND TOWING SERVICE,NONE,NA,NA,SOUTHEAST,N,0,0,2,0,1,2,0
15,15201252,2,MOTOR VEHICLE,N,N,TX,JT3GN87RXX0112757,1999,WHI,TOYOTA,4RUNNER,SPORT UTILITY VEHICLE,N,75009,1,LIABILITY INSURANCE POLICY,BACK END DAMAGE DISTRIBUTED IMPACT,DAMAGED 2,6,NA,NA,NA,N,None,None,NONE,NA,NA,NORTH,Y,1,1,0,4,1,2,0
16,15204729,2,MOTOR VEHICLE,N,Y,TX,1G1BL52W9TR100010,1996,WHI,CHEVROLET,CAPRICE,"PASSENGER CAR, 4-DOOR",N,79072,1,PROOF OF LIABILITY INSURANCE,FRONT END DAMAGE DISTRIBUTED IMPACT,DAMAGED 4,12,NA,NA,NA,N,LUBBOCK WRECKER,LUBBOCK WRECKER 3209 SLATON HWY 806-7,NONE,NA,NA,EAST,Y,0,0,2,0,1,2,0
17,15225300,2,MOTOR VEHICLE,N,N,TX,1FTRW07L92KA72571,2002,GRN,FORD,F150,PICKUP,N,77803,1,PROOF OF LIABILITY INSURANCE,FRONT END (LEFT) DAMAGE PARTIAL CONTACT,DAMAGED 5,12,NA,NA,NA,N,EXCEL,"1804 FINFEATHER, BRYAN",HAD BEEN DRINKING,FAULTY EVASIVE ACTION,NA,NORTH,Y,0,2,0,0,1,2,0
18,15438557,3,MOTOR VEHICLE,N,N,TX,2CNDL937796225084,NA,MAR,CHEVROLET,NA,SPORT UTILITY VEHICLE,N,78249,1,PROOF OF LIABILITY INSURANCE,NA,NA,NA,NA,NA,NA,N,CHRLIE HINDS TOWING,2410 SENS RD LA PORTE TX 77571,NONE,NA,NA,SOUTH,N,0,0,2,1,1,2,0

In [32]:
df_unit.filter(col('UNKN_INJRY_CNT')==0).count()

170352

In [22]:
df_unit.printSchema

<bound method DataFrame.printSchema of DataFrame[CRASH_ID: int, UNIT_NBR: int, UNIT_DESC_ID: string, VEH_PARKED_FL: string, VEH_HNR_FL: string, VEH_LIC_STATE_ID: string, VIN: string, VEH_MOD_YEAR: string, VEH_COLOR_ID: string, VEH_MAKE_ID: string, VEH_MOD_ID: string, VEH_BODY_STYL_ID: string, EMER_RESPNDR_FL: string, OWNR_ZIP: string, FIN_RESP_PROOF_ID: string, FIN_RESP_TYPE_ID: string, VEH_DMAG_AREA_1_ID: string, VEH_DMAG_SCL_1_ID: string, FORCE_DIR_1_ID: string, VEH_DMAG_AREA_2_ID: string, VEH_DMAG_SCL_2_ID: string, FORCE_DIR_2_ID: string, VEH_INVENTORIED_FL: string, VEH_TRANSP_NAME: string, VEH_TRANSP_DEST: string, CONTRIB_FACTR_1_ID: string, CONTRIB_FACTR_2_ID: string, CONTRIB_FACTR_P1_ID: string, VEH_TRVL_DIR_ID: string, FIRST_HARM_EVT_INV_ID: string, INCAP_INJRY_CNT: int, NONINCAP_INJRY_CNT: int, POSS_INJRY_CNT: int, NON_INJRY_CNT: int, UNKN_INJRY_CNT: int, TOT_INJRY_CNT: int, DEATH_CNT: int]>

In [35]:
df = spark.read.csv('../output/anaysis/analysis_6.csv/', header=True)

In [36]:
df.show()

+------------------------------------------------+
|top_3rd_to_5th_vehicle_makers_with most_injuries|
+------------------------------------------------+
|                                       BLUE BIRD|
|                              NORTH AMERICAN BUS|
|                                         LINCOLN|
|                                       CHEVROLET|
|                                        VAN HOOL|
|                                           MAZDA|
+------------------------------------------------+

In [40]:
df_temp = df_unit.select('VEH_BODY_STYL_ID').distinct().toPandas()
display(df_temp)

                     VEH_BODY_STYL_ID
0                                 BUS
1                                  NA
2                                 VAN
3                              PICKUP
4               SPORT UTILITY VEHICLE
5               PASSENGER CAR, 4-DOOR
6                          FIRE TRUCK
7                               TRUCK
8                             UNKNOWN
9                           AMBULANCE
10                   POLICE CAR/TRUCK
11                         MOTORCYCLE
12                  YELLOW SCHOOL BUS
13              PASSENGER CAR, 2-DOOR
14                      TRUCK TRACTOR
15                     FARM EQUIPMENT
16  NEV-NEIGHBORHOOD ELECTRIC VEHICLE
17      OTHER  (EXPLAIN IN NARRATIVE)
18                  POLICE MOTORCYCLE
19                       NOT REPORTED

In [53]:
df_temp = df_unit.filter(col('VEH_BODY_STYL_ID').like('OTHER')).select("*").toPandas()
display(df_temp)

Empty DataFrame
Columns: [CRASH_ID, UNIT_NBR, UNIT_DESC_ID, VEH_PARKED_FL, VEH_HNR_FL, VEH_LIC_STATE_ID, VIN, VEH_MOD_YEAR, VEH_COLOR_ID, VEH_MAKE_ID, VEH_MOD_ID, VEH_BODY_STYL_ID, EMER_RESPNDR_FL, OWNR_ZIP, FIN_RESP_PROOF_ID, FIN_RESP_TYPE_ID, VEH_DMAG_AREA_1_ID, VEH_DMAG_SCL_1_ID, FORCE_DIR_1_ID, VEH_DMAG_AREA_2_ID, VEH_DMAG_SCL_2_ID, FORCE_DIR_2_ID, VEH_INVENTORIED_FL, VEH_TRANSP_NAME, VEH_TRANSP_DEST, CONTRIB_FACTR_1_ID, CONTRIB_FACTR_2_ID, CONTRIB_FACTR_P1_ID, VEH_TRVL_DIR_ID, FIRST_HARM_EVT_INV_ID, INCAP_INJRY_CNT, NONINCAP_INJRY_CNT, POSS_INJRY_CNT, NON_INJRY_CNT, UNKN_INJRY_CNT, TOT_INJRY_CNT, DEATH_CNT]
Index: []

In [46]:
df_tmp = df_person.select('PRSN_ETHNICITY_ID').distinct().toPandas()
display(df_tmp)

             PRSN_ETHNICITY_ID
0                        WHITE
1                        BLACK
2                     HISPANIC
3                           NA
4  AMER. INDIAN/ALASKAN NATIVE
5                      UNKNOWN
6                        OTHER
7                        ASIAN

In [50]:
df_temp = df_unit.select("VEH_BODY_STYL_ID").distinct().toPandas()
display(df_temp)

                     VEH_BODY_STYL_ID
0                                 BUS
1                                  NA
2                                 VAN
3                              PICKUP
4               SPORT UTILITY VEHICLE
5               PASSENGER CAR, 4-DOOR
6                          FIRE TRUCK
7                               TRUCK
8                             UNKNOWN
9                           AMBULANCE
10                   POLICE CAR/TRUCK
11                         MOTORCYCLE
12                  YELLOW SCHOOL BUS
13              PASSENGER CAR, 2-DOOR
14                      TRUCK TRACTOR
15                     FARM EQUIPMENT
16  NEV-NEIGHBORHOOD ELECTRIC VEHICLE
17      OTHER  (EXPLAIN IN NARRATIVE)
18                  POLICE MOTORCYCLE
19                       NOT REPORTED

In [54]:
df_person.show(10)

+--------+--------+--------+------------+------------------+--------------------+--------+-----------------+------------+------------+-------------------+-----------------+--------------+-----------+---------------------+----------------+------------------+---------------------+----------------+-----------------+---------------+---------------+------------------+--------------+-------------+--------------+-------------+---------+--------------------+-----------------+------------------+--------+
|CRASH_ID|UNIT_NBR|PRSN_NBR|PRSN_TYPE_ID|PRSN_OCCPNT_POS_ID|   PRSN_INJRY_SEV_ID|PRSN_AGE|PRSN_ETHNICITY_ID|PRSN_GNDR_ID|PRSN_EJCT_ID|       PRSN_REST_ID|   PRSN_AIRBAG_ID|PRSN_HELMET_ID|PRSN_SOL_FL|PRSN_ALC_SPEC_TYPE_ID|PRSN_ALC_RSLT_ID|PRSN_BAC_TEST_RSLT|PRSN_DRG_SPEC_TYPE_ID|PRSN_DRG_RSLT_ID|DRVR_DRG_CAT_1_ID|PRSN_DEATH_TIME|INCAP_INJRY_CNT|NONINCAP_INJRY_CNT|POSS_INJRY_CNT|NON_INJRY_CNT|UNKN_INJRY_CNT|TOT_INJRY_CNT|DEATH_CNT|    DRVR_LIC_TYPE_ID|DRVR_LIC_STATE_ID|   DRVR_LIC_CLS_ID|DRVR_ZIP|
+--------+--------+--------+------------+------------------+--------------------+--------+-----------------+------------+------------+-------------------+-----------------+--------------+-----------+---------------------+----------------+------------------+---------------------+----------------+-----------------+---------------+---------------+------------------+--------------+-------------+--------------+-------------+---------+--------------------+-----------------+------------------+--------+
|14768622|       1|       1|      DRIVER|        FRONT LEFT|         NOT INJURED|      27|         HISPANIC|        MALE|          NO|               NONE|DEPLOYED MULTIPLE|NOT APPLICABLE|          N|                BLOOD|        Positive|             0.225|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           NULL|              0|                 0|             0|            1|             0|            0|        0|      DRIVER LICENSE|            Texas|           CLASS C|   77357|
|14838637|       1|       1|      DRIVER|        FRONT LEFT|         NOT INJURED|      31|            WHITE|        MALE|          NO|SHOULDER & LAP BELT|     NOT DEPLOYED|NOT APPLICABLE|          N|               BREATH|        Positive|              0.21|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           NULL|              0|                 0|             0|            1|             0|            0|        0|      DRIVER LICENSE|         New York|OTHER/OUT OF STATE|   13830|
|14838637|       2|       1|      DRIVER|        FRONT LEFT|         NOT INJURED|      41|            BLACK|        MALE|          NO|SHOULDER & LAP BELT|     NOT DEPLOYED|NOT APPLICABLE|          N|                 NONE|              NA|                NA|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           NULL|              0|                 0|             0|            1|             0|            0|        0|COMMERCIAL DRIVER...|            Texas|           CLASS A|   78934|
|14838641|       1|       1|      DRIVER|        FRONT LEFT|     POSSIBLE INJURY|      32|            WHITE|        MALE|          NO|SHOULDER & LAP BELT|DEPLOYED MULTIPLE|NOT APPLICABLE|          N|                 NONE|              NA|                NA|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           NULL|              0|                 0|             1|            0|             0|            1|        0|      DRIVER LICENSE|            Texas|           CLASS C|   76520|
|14838641|       2|       1|      DRIVER|        FRONT LEFT|NON-INCAPACITATIN...|      34|            BLACK|      FEMALE|          NO|SHOULDER & LAP BELT|DEPLOYED MULTIPLE|NOT APPLICABLE|          N|                 NONE|              NA|                NA|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           NULL|              0|                 1|             0|            0|             0|            1|        0|             ID CARD|            Texas|        UNLICENSED|   76707|
|14838668|       1|       1|      DRIVER|        FRONT LEFT|         NOT INJURED|      24|         HISPANIC|        MALE|          NO|SHOULDER & LAP BELT|  DEPLOYED, FRONT|NOT APPLICABLE|          N|               BREATH|        Positive|             0.178|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           NULL|              0|                 0|             0|            1|             0|            0|        0|      DRIVER LICENSE|            Texas|           CLASS C|   78076|
|14838669|       1|       1|      DRIVER|        FRONT LEFT|         NOT INJURED|      53|            WHITE|        MALE|          NO|SHOULDER & LAP BELT|     NOT DEPLOYED|NOT APPLICABLE|          N|                 NONE|              NA|                NA|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           NULL|              0|                 0|             0|            1|             0|            0|        0|      DRIVER LICENSE|            Texas|           CLASS C|   76053|
|14838669|       2|       1|      DRIVER|        FRONT LEFT|         NOT INJURED|      24|            WHITE|        MALE|          NO|            UNKNOWN|  DEPLOYED, FRONT|NOT APPLICABLE|          N|               BREATH|        Positive|             0.219|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           NULL|              0|                 0|             0|            1|             0|            0|        0|      DRIVER LICENSE|            Texas|           CLASS C|   76118|
|14838670|       1|       1|      DRIVER|        FRONT LEFT|         NOT INJURED|      23|            WHITE|        MALE|          NO|               NONE|     NOT DEPLOYED|NOT APPLICABLE|          N|                BLOOD|        Positive|              0.16|                BLOOD|         UNKNOWN|          UNKNOWN|           NULL|              0|                 0|             0|            1|             0|            0|        0|      DRIVER LICENSE|            Texas|           CLASS C|   75050|
|14838685|       1|       1|      DRIVER|        FRONT LEFT|         NOT INJURED|      27|            BLACK|      FEMALE|          NO|SHOULDER & LAP BELT|     NOT DEPLOYED|NOT APPLICABLE|          N|                 NONE|              NA|                NA|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           NULL|              0|                 0|             0|            1|             0|            0|        0|             ID CARD|            Texas|        UNLICENSED|   77033|
+--------+--------+--------+------------+------------------+--------------------+--------+-----------------+------------+------------+-------------------+-----------------+--------------+-----------+---------------------+----------------+------------------+---------------------+----------------+-----------------+---------------+---------------+------------------+--------------+-------------+--------------+-------------+---------+--------------------+-----------------+------------------+--------+
only showing top 10 rows

In [56]:
df_person.groupBy('CRASH_ID').agg(count("*").alias('cnt')).select('CRASH_ID', 'cnt').orderBy(col('cnt').desc()).show()

[Stage 89:=================>                                       (3 + 7) / 10]

+--------+---+
|CRASH_ID|cnt|
+--------+---+
|15146770| 14|
|14918153| 12|
|15487600| 12|
|15329323| 10|
|15460374| 10|
|14987833|  9|
|14878529|  8|
|15097577|  8|
|15086342|  8|
|15192049|  8|
|15418533|  8|
|15364029|  8|
|15034690|  7|
|15219679|  7|
|15330330|  7|
|14997493|  7|
|15016597|  7|
|14976637|  7|
|15032281|  7|
|15276769|  7|
+--------+---+
only showing top 20 rows

In [57]:
df_person = df_person.dropDuplicates()

In [58]:
df_person.groupBy('CRASH_ID').agg(count("*").alias('cnt')).select('CRASH_ID', 'cnt').orderBy(col('cnt').desc()).show()

[Stage 92:=====>                                                   (1 + 9) / 10]

+--------+---+
|CRASH_ID|cnt|
+--------+---+
|15146770| 14|
|14918153| 12|
|15487600| 12|
|15460374| 10|
|15329323| 10|
|14987833|  9|
|15192049|  8|
|15097577|  8|
|15364029|  8|
|15086342|  8|
|15418533|  8|
|14878529|  8|
|15023443|  7|
|15330330|  7|
|15297747|  7|
|15333165|  7|
|14945980|  7|
|15121746|  7|
|14976637|  7|
|15078926|  7|
+--------+---+
only showing top 20 rows

In [59]:
df_temp = df_person.filter(col('CRASH_ID')=='15146770').toPandas()
display(df_temp)

,CRASH_ID,UNIT_NBR,PRSN_NBR,PRSN_TYPE_ID,PRSN_OCCPNT_POS_ID,PRSN_INJRY_SEV_ID,PRSN_AGE,PRSN_ETHNICITY_ID,PRSN_GNDR_ID,PRSN_EJCT_ID,PRSN_REST_ID,PRSN_AIRBAG_ID,PRSN_HELMET_ID,PRSN_SOL_FL,PRSN_ALC_SPEC_TYPE_ID,PRSN_ALC_RSLT_ID,PRSN_BAC_TEST_RSLT,PRSN_DRG_SPEC_TYPE_ID,PRSN_DRG_RSLT_ID,DRVR_DRG_CAT_1_ID,PRSN_DEATH_TIME,INCAP_INJRY_CNT,NONINCAP_INJRY_CNT,POSS_INJRY_CNT,NON_INJRY_CNT,UNKN_INJRY_CNT,TOT_INJRY_CNT,DEATH_CNT,DRVR_LIC_TYPE_ID,DRVR_LIC_STATE_ID,DRVR_LIC_CLS_ID,DRVR_ZIP
0,15146770,12,1,DRIVER,FRONT LEFT,NOT INJURED,47,HISPANIC,MALE,NO,SHOULDER & LAP BELT,NOT DEPLOYED,NOT APPLICABLE,N,NONE,NA,NA,NONE,NOT APPLICABLE,NOT APPLICABLE,NaT,0,0,0,1,0,0,0,DRIVER LICENSE,Texas,CLASS C,78148
1,15146770,4,1,DRIVER,FRONT LEFT,NOT INJURED,50,WHITE,FEMALE,NO,SHOULDER & LAP BELT,NOT DEPLOYED,NOT APPLICABLE,N,NONE,NA,NA,NONE,NOT APPLICABLE,NOT APPLICABLE,NaT,0,0,0,1,0,0,0,DRIVER LICENSE,Texas,CLASS C AND M,78250
2,15146770,7,1,DRIVER,FRONT LEFT,NOT INJURED,64,HISPANIC,FEMALE,NO,SHOULDER & LAP BELT,NOT DEPLOYED,NOT APPLICABLE,N,NONE,NA,NA,NONE,NOT APPLICABLE,NOT APPLICABLE,NaT,0,0,0,1,0,0,0,DRIVER LICENSE,Texas,CLASS C,78240
3,15146770,13,1,DRIVER,FRONT LEFT,NOT INJURED,54,HISPANIC,MALE,NO,SHOULDER & LAP BELT,NOT DEPLOYED,NOT APPLICABLE,N,NONE,NA,NA,NONE,NOT APPLICABLE,NOT APPLICABLE,NaT,0,0,0,1,0,0,0,DRIVER LICENSE,Texas,CLASS C,78223
4,15146770,6,1,DRIVER,FRONT LEFT,NON-INCAPACITATING INJURY,32,HISPANIC,FEMALE,NO,SHOULDER & LAP BELT,"DEPLOYED, FRONT",NOT APPLICABLE,N,NONE,NA,NA,NONE,NOT APPLICABLE,NOT APPLICABLE,NaT,0,1,0,0,0,1,0,DRIVER LICENSE,Texas,CLASS C,78228
5,15146770,8,1,DRIVER,FRONT LEFT,NOT INJURED,24,WHITE,MALE,NO,SHOULDER & LAP BELT,"DEPLOYED, FRONT",NOT APPLICABLE,N,NONE,NA,NA,NONE,NOT APPLICABLE,NOT APPLICABLE,NaT,0,0,0,1,0,0,0,DRIVER LICENSE,Texas,CLASS C,75077
6,15146770,9,1,DRIVER,FRONT LEFT,NOT INJURED,29,WHITE,FEMALE,NO,SHOULDER & LAP BELT,NOT DEPLOYED,NOT APPLICABLE,N,NONE,NA,NA,NONE,NOT APPLICABLE,NOT APPLICABLE,NaT,0,0,0,1,0,0,0,DRIVER LICENSE,Texas,CLASS C,78253
7,15146770,5,1,DRIVER,FRONT LEFT,NOT INJURED,29,WHITE,MALE,NO,SHOULDER & LAP BELT,NOT DEPLOYED,NOT APPLICABLE,N,NONE,NA,NA,NONE,NOT APPLICABLE,NOT APPLICABLE,NaT,0,0,0,1,0,0,0,DRIVER LICENSE,Texas,CLASS C,78249
8,15146770,1,1,DRIVER,FRONT LEFT,POSSIBLE INJURY,52,WHITE,MALE,NO,SHOULDER & LAP BELT,"DEPLOYED, FRONT",NOT APPLICABLE,N,BLOOD,NA,NA,NONE,NOT APPLICABLE,NOT APPLICABLE,NaT,0,0,1,0,0,1,0,DRIVER LICENSE,Texas,CLASS C,78023
9,15146770,14,1,DRIVER,FRONT LEFT,NON-INCAPACITATING INJURY,79,WHITE,FEMALE,NO,SHOULDER & LAP BELT,NOT DEPLOYED,NOT APPLICABLE,N,NONE,NA,NA,NONE,NOT APPLICABLE,NOT APPLICABLE,NaT,0,1,0,0,0,1,0,DRIVER LICENSE,Texas,CLASS C,78232
10,15146770,2,1,DRIVER,FRONT LEFT,NOT INJURED,60,WHITE,MALE,NO,SHOULDER & LAP BELT,NOT DEPLOYED,NOT APPLICABLE,N,NONE,NA,NA,NONE,NOT APPLICABLE,NOT APPLICABLE,NaT,0,0,0,1,0,0,0,DRIVER LICENSE,Texas,CLASS C,78228
11,15146770,10,1,DRIVER,FRONT LEFT,NOT INJURED,59,HISPANIC,MALE,NO,SHOULDER & LAP BELT,NOT DEPLOYED,NOT APPLICABLE,N,NONE,NA,NA,NONE,NOT APPLICABLE,NOT APPLICABLE,NaT,0,0,0,1,0,0,0,DRIVER LICENSE,Texas,CLASS C,78250
12,15146770,11,1,DRIVER,FRONT LEFT,NOT INJURED,48,HISPANIC,MALE,NO,SHOULDER & LAP BELT,NOT DEPLOYED,NOT APPLICABLE,N,NONE,NA,NA,NONE,NOT APPLICABLE,NOT APPLICABLE,NaT,0,0,0,1,0,0,0,DRIVER LICENSE,Texas,CLASS C AND M,78250
13,15146770,3,1,DRIVER,FRONT LEFT,POSSIBLE INJURY,26,WHITE,MALE,NO,SHOULDER & LAP BELT,NOT DEPLOYED,NOT APPLICABLE,N,NONE,NA,NA,NONE,NOT APPLICABLE,NOT APPLICABLE,NaT,0,0,1,0,0,1,0,DRIVER LICENSE,Texas,CLASS C,78230

In [60]:
df_person = df_person.filter(
    ~(col('PRSN_ETHNICITY_ID') == 'NA') &
    ~(col('PRSN_ETHNICITY_ID') == 'OTHER') &
    ~(col('PRSN_ETHNICITY_ID') == 'UNKNOWN')
)

In [63]:
df_unit = df_unit.join(df_person.select('CRASH_ID', "PRSN_ETHNICITY_ID"), 'CRASH_ID', 'inner')

In [65]:
df_person.count()

156954

In [66]:
df_person = df_person.dropDuplicates()

In [67]:
df_person.count()

156954

In [71]:
df = spark.read.csv('../output/anaysis/analysis_7.csv/', header=True)

In [72]:
df.show()

+--------------------+--------------+
|          body_style|top_ethinicity|
+--------------------+--------------+
|           AMBULANCE|         WHITE|
|                 BUS|      HISPANIC|
|      FARM EQUIPMENT|         WHITE|
|          FIRE TRUCK|         WHITE|
|          MOTORCYCLE|         WHITE|
|NEV-NEIGHBORHOOD ...|         WHITE|
|PASSENGER CAR, 2-...|         WHITE|
|PASSENGER CAR, 4-...|         WHITE|
|              PICKUP|         WHITE|
|    POLICE CAR/TRUCK|         WHITE|
|   POLICE MOTORCYCLE|      HISPANIC|
|SPORT UTILITY VEH...|         WHITE|
|               TRUCK|         WHITE|
|       TRUCK TRACTOR|         WHITE|
|                 VAN|         WHITE|
|   YELLOW SCHOOL BUS|         WHITE|
+--------------------+--------------+

In [73]:
df_person.groupBy('PRSN_ETHNICITY_ID').agg(count("*").alias('cnt')).select('PRSN_ETHNICITY_ID', 'cnt').orderBy(col('cnt').desc()).show()

[Stage 116:=====>                                                  (1 + 9) / 10]

+--------------------+-----+
|   PRSN_ETHNICITY_ID|  cnt|
+--------------------+-----+
|               WHITE|71099|
|            HISPANIC|52791|
|               BLACK|23205|
|               ASIAN| 4539|
|               OTHER| 3298|
|             UNKNOWN| 1543|
|                  NA|  274|
|AMER. INDIAN/ALAS...|  205|
+--------------------+-----+

In [130]:
df_temp = df_unit.select('FIN_RESP_TYPE_ID').distinct().toPandas()
display(df_temp)

                           FIN_RESP_TYPE_ID
0                          INSURANCE BINDER
1                LIABILITY INSURANCE POLICY
2                                        NA
3             CERTIFICATE OF SELF-INSURANCE
4   CERTIFICATE OF DEPOSIT WITH COMPTROLLER
5                               SURETY BOND
6              PROOF OF LIABILITY INSURANCE
7  CERTIFICATE OF DEPOSIT WITH COUNTY JUDGE

In [131]:
df_temp = df_unit.select('FIN_RESP_PROOF_ID').distinct().toPandas()
display(df_temp)

  FIN_RESP_PROOF_ID
0                 3
1                NA
2                 1
3                 4
4                 2
5                NR

In [136]:
df_unit.filter(col('FIN_RESP_PROOF_ID')=='2').select("*").show()
# display(df_temp)

+--------+--------+-------------+-------------+----------+----------------+-----------------+------------+------------+-----------+--------------+--------------------+---------------+--------+-----------------+----------------+--------------------+-----------------+--------------+--------------------+-----------------+--------------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------+---------------------+---------------+------------------+--------------+-------------+--------------+-------------+---------+
|CRASH_ID|UNIT_NBR| UNIT_DESC_ID|VEH_PARKED_FL|VEH_HNR_FL|VEH_LIC_STATE_ID|              VIN|VEH_MOD_YEAR|VEH_COLOR_ID|VEH_MAKE_ID|    VEH_MOD_ID|    VEH_BODY_STYL_ID|EMER_RESPNDR_FL|OWNR_ZIP|FIN_RESP_PROOF_ID|FIN_RESP_TYPE_ID|  VEH_DMAG_AREA_1_ID|VEH_DMAG_SCL_1_ID|FORCE_DIR_1_ID|  VEH_DMAG_AREA_2_ID|VEH_DMAG_SCL_2_ID|FORCE_DIR_2_ID|VEH_INVENTORIED_FL|     VEH_TRANSP_NAME|     VEH_TRANSP_DEST|  CONTRIB_FACTR_1_ID|  CONTRIB_FACTR_2_ID| CONTRIB_FACTR_P1_ID|VEH_TRVL_DIR_ID|FIRST_HARM_EVT_INV_ID|INCAP_INJRY_CNT|NONINCAP_INJRY_CNT|POSS_INJRY_CNT|NON_INJRY_CNT|UNKN_INJRY_CNT|TOT_INJRY_CNT|DEATH_CNT|
+--------+--------+-------------+-------------+----------+----------------+-----------------+------------+------------+-----------+--------------+--------------------+---------------+--------+-----------------+----------------+--------------------+-----------------+--------------+--------------------+-----------------+--------------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------+---------------------+---------------+------------------+--------------+-------------+--------------+-------------+---------+
|14768622|       1|MOTOR VEHICLE|            N|         N|              TX|4S2CK57D1X4381118|        1999|         GRY|      ISUZU|         AMIGO|PASSENGER CAR, 4-...|              Y|   77357|                2|              NA|FRONT END DAMAGE ...|        DAMAGED 3|             1|LEFT SIDE AND TOP...|        DAMAGED 4|             3|                 Y|     VALENTIN TOWING|20288 FM 1314 POR...|UNDER INFLUENCE -...|                  NA|                  NA|           EAST|                    Y|              0|                 0|             0|            1|             0|            0|        0|
|14838668|       1|MOTOR VEHICLE|            N|         N|              TX|JM1BK32F791214223|          NA|         BLK|      MAZDA|            NA|PASSENGER CAR, 4-...|              N|   78076|                2|              NA|FRONT END DAMAGE ...|        DAMAGED 4|            12|                  NA|               NA|            NA|                 Y|     GARCIA'S TOWING|203 2ND ST, ZAPAT...|UNDER INFLUENCE -...|FAILED TO DRIVE I...|                  NA|      NORTHWEST|                    Y|              0|                 0|             0|            1|             0|            0|        0|
|14838685|       1|MOTOR VEHICLE|            N|         N|              TX|1HGCG16522A035476|        2002|         RED|      HONDA|        ACCORD|PASSENGER CAR, 4-...|              N|   77084|                2|              NA|FRONT END DAMAGE ...|        DAMAGED 3|            12|     TOP DAMAGE ONLY|        NO DAMAGE|            NA|                 N|          CHALLENGER|   8000 GALVESTON RD|FAILED TO DRIVE I...|                  NA|                  NA|      SOUTHWEST|                    Y|              0|                 0|             0|            1|             0|            0|        0|
|14838768|       2|MOTOR VEHICLE|            N|         N|              TX|4T1BE46K97U049772|        2007|         SIL|     TOYOTA|         CAMRY|PASSENGER CAR, 4-...|              N|   77080|                2|              NA|DISTRIBUTED RIGHT...|        DAMAGED 6|             3|                  NA|               NA|            NA|                 N|           SAFECLEAR|          36 TIDWELL|DISREGARD STOP AN...|   HAD BEEN DRINKING|                  NA|          SOUTH|                    Y|              0|                 0|             0|            1|             0|            0|        0|
|14838834|       2|MOTOR VEHICLE|            Y|         N|              TX|1D8GU28K07W640397|        2007|         SIL|      DODGE|         NITRO|SPORT UTILITY VEH...|              N|   79107|                2|              NA|BACK END DAMAGE D...|        DAMAGED 4|             6|RIGHT BACK QUARTE...|        DAMAGED 2|             4|                 N|                NULL|                NULL|                NONE|                  NA|                  NA|           EAST|                    Y|              0|                 0|             0|            0|             0|            0|        0|
|14838834|       3|MOTOR VEHICLE|            Y|         N|              TX|1MELM62W9SH630933|        1995|         GRN|    MERCURY|        COUGAR|PASSENGER CAR, 2-...|              N|   79107|                2|              NA|RIGHT BACK QUARTE...|        DAMAGED 3|             4|LEFT BACK QUARTER...|DAMAGED 1 MINIMUM|             8|                 N|                NULL|                NULL|                NONE|                  NA|                  NA|           EAST|                    N|              0|                 0|             0|            0|             0|            0|        0|
|14839046|       1|MOTOR VEHICLE|            N|         N|              TX|1FAFP42X9YF141090|        2000|         GRY|       FORD|       MUSTANG|PASSENGER CAR, 2-...|              N|   78259|                2|              NA|FRONT END DAMAGE ...|        DAMAGED 2|            12|                  NA|               NA|            NA|                 N|TEXAS ROADSIDE SE...|12903 NACOGDOCHES RD|FAILED TO CONTROL...|                  NA|  DRIVER INATTENTION|           EAST|                    Y|              0|                 0|             0|            1|             0|            0|        0|
|14839047|       1|MOTOR VEHICLE|            N|         N|              TX|5TDKK3DC8CS219816|          NA|         BLK|     TOYOTA|        SIENNA|                 VAN|              N|   75038|                2|              NA|FRONT END DAMAGE ...|        DAMAGED 3|            12|                  NA|               NA|            NA|                 Y|EULESS B & B WREC...|1201 W EULESS BLV...|UNDER INFLUENCE -...|                  NA|                  NA|           EAST|                    Y|              0|                 0|             0|            1|             0|            0|        0|
|14839048|       1|MOTOR VEHICLE|            N|         N|              TX|5TDKK3DC8CS219816|          NA|         BLK|     TOYOTA|        SIENNA|                 VAN|              N|   75038|                2|              NA|FRONT END (LEFT) ...|        DAMAGED 4|            11|BACK END DAMAGE C...|        DAMAGED 2|             6|                 Y|EULESS B & B WREC...|1201 W EULESS BLV...|UNDER INFLUENCE -...|                  NA|                  NA|          SOUTH|                    Y|              0|                 0|             0|            1|             0|            0|        0|
|14839307|       2|MOTOR VEHICLE|            N|         N|              TX|1FMZU63K93ZA54176|        2003|         SIL|       FORD|      EXPLORER|SPORT UTILITY VEH...|              N|   78734|                2|              NA|BACK END DAMAGE D...|        NO DAMAGE|             6|                  NA|               NA|            NA|                 N|                NULL|                NULL|                NONE|                  NA|                  NA|           EAST|                    Y|              0|                 0|             0|            1|             0|            0|        0|
|14839330|       1|MOTOR VEHICLE|            N|         N|              TX|1B7HC16X6YS571352|        2000|         MAR|      DODGE|      RAM 1500|              PICKUP|              N|   78230|                2|              NA|RIGHT FRONT QUART...|        DAMAGED 2|            11|                  NA|               NA|            NA|                 N|    CONTRACT WRECKER|4951 WOODSTONE DR...|  DRIVER INATTENTION|FAILED TO DRIVE I...|                  NA|          NORTH|                    Y|              0|                 0|             0|            1|             0|            0|        0|
|14839343|       1|MOTOR VEHICLE|            N|         N|              UN|             NULL|          NA|         WHI|     NISSAN|         TITAN|              PICKUP|              N|    NULL|                2|              NA|                  NA|               NA|            NA|                  NA|               NA|            NA|                 N|           NOT TOWED|           NOT TOWED|                  NA|                  NA|CHANGED LANE WHEN...|      SOUTHEAST|                    N|              0|                 0|             0|            1|             0|            0|        0|
|14839517|       1|MOTOR VEHICLE|            N|         N|              TX|1FAFP53SXXA122861|        1999|         BLU|       FORD|        TAURUS|PASSENGER CAR, 4-...|              N|   75237|                2|              NA|RIGHT FRONT QUART...|DAMAGED 1 MINIMUM|             1|                  NA|               NA|            NA|                 N|RON'S TOWING SERVICE|212 W PARKWAY, DE...|UNDER INFLUENCE -...|FAILED TO DRIVE I...|                  NA|          SOUTH|                    Y|              0|                 0|             0|            1|             0|            0|        0|
|14839615|       3|MOTOR VEHICLE|            Y|         N|              TX|2C4GP44322R533658|        2002|         GLD|   CHRYSLER|TOWN & COUNTRY|                 VAN|              N|   78245|                2|              NA|BACK END DAMAGE D...|        DAMAGED 4|             6|                  NA|               NA|            NA|                 N|              DRIVEN|                NULL|                NONE|                  NA|                  NA|           WEST|                    N|              0|                 0|             0|            0|             0|            0|        0|
|14839675|       1|MOTOR VEHICLE|            N|         N|              TX|1D7HA18N42S648878|        2002|         BLU|      DODGE|      RAM 1500|              PICKUP|              N|   77372|                2|              NA|FRONT END DAMAGE ...|DAMAGED 1 MINIMUM|            12|                  NA|               NA|            NA|                 N|                NULL|                NULL|  DRIVER INATTENTION|FAILED TO CONTROL...|                  NA|          NORTH|                    Y|              0|                 0|             0|            1|             0|            0|        0|
|14839713|       2|MOTOR VEHICLE|            Y|         N|              TX|5N1AN08U05C647433|        2005|         BLK|     NISSAN|        XTERRA|SPORT UTILITY VEH...|              N|   77075|                2|              NA|BACK END (LEFT) D...|        DAMAGED 2|             1|                  NA|               NA|            NA|                 N|                NULL|LEFT PARKED IN DR...|                NONE|                  NA|                  NA|           WEST|                    Y|              0|                 0|             0|            1|             0|            0|        0|
|14839755|       1|MOTOR VEHICLE|            N|         N|              TX|1G8MB35B17Y112531|        2007|         BLU|     SATURN|           SKY|PASSENGER CAR, 2-...|              N|   78063|                2|              NA|RIGHT SIDE DAMAGE...|        DAMAGED 3|             3|                  NA|               NA|            NA|                 N|      MISSION TOWING|       GROWDON POUND|CHANGED LANE WHEN...|                  NA|  TURNED WHEN UNSAFE|          NORTH|                    Y|              0|                 0|             1|            0|             0|            1|        0|
|14839755|       2|MOTOR VEHICLE|            N|         N|              TX|1FMYU60E82UC02677|        2002|         SIL|       FORD|      EXPLORER|SPORT UTILITY VEH...|              N|   78231|                2|              NA|FRONT END DAMAGE ...|        DAMAGED 3|            12|                  NA|               NA|            NA|                 N|      MISSION TOWING|       GROWDON POUND|                  NA|                  NA|FAULTY EVASIVE AC...|           WEST|                    Y|              0|                 0|             0|            1|             0|            0|        0|
|14839761|       1|MOTOR VEHICLE|            N|         N|              TX|2C8GM68414R500790|        2004|         SIL|   CHRYSLER|      PACIFICA|PASSENGER CAR, 4-...|              N|    NULL|                2|              NA|FRONT END DAMAGE ...|        DAMAGED 6|            12|BACK END (LEFT) D...|DAMAGED 1 MINIMUM|             7|                 N|             MISSION|             GROWDEN|        UNSAFE SPEED|  DRIVER INATTENTION|                  NA|           WEST|                    Y|              0|                 0|             0|            1|             0|            0|        0|
|14839807|       1|MOTOR VEHICLE|            N|         N|              TX|1FAFP34P02W291264|        2002|         BLU|       FORD|         FOCUS|PASSENGER CAR, 4-...|              N|   78155|                2|              NA|LEFT FRONT QUARTE...|DAMAGED 1 MINIMUM|            10|                  NA|               NA|            NA|                 Y|        TEXAS TOWING|       GROWDON POUND|FOLLOWED TOO CLOSELY|FAULTY EVASIVE AC...|                  NA|          NORTH|                    Y|              0|                 0|             0|            1|             0|            0|        0|
+--------+--------+-------------+-------------+----------+----------------+-----------------+------------+------------+-----------+--------------+--------------------+---------------+--------+-----------------+----------------+--------------------+-----------------+--------------+--------------------+-----------------+--------------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------+---------------------+---------------+------------------+--------------+-------------+--------------+-------------+---------+
only showing top 20 rows

In [133]:
df_temp = df_unit.select('VEH_DMAG_SCL_1_ID').distinct().toPandas()
display(df_temp)

   VEH_DMAG_SCL_1_ID
0          DAMAGED 4
1      INVALID VALUE
2                 NA
3          DAMAGED 5
4  DAMAGED 1 MINIMUM
5          DAMAGED 3
6          NO DAMAGE
7  DAMAGED 7 HIGHEST
8          DAMAGED 2
9          DAMAGED 6

In [132]:
df_temp = df_unit.select('VEH_DMAG_SCL_2_ID').distinct().toPandas()
display(df_temp)

   VEH_DMAG_SCL_2_ID
0          DAMAGED 4
1      INVALID VALUE
2                 NA
3          DAMAGED 5
4  DAMAGED 1 MINIMUM
5          DAMAGED 3
6          NO DAMAGE
7  DAMAGED 7 HIGHEST
8          DAMAGED 2
9          DAMAGED 6

In [80]:
df_temp = df_unit.select('FIN_RESP_PROOF_ID').distinct().toPandas()
display(df_temp)

  FIN_RESP_PROOF_ID
0                 3
1                NA
2                 1
3                 4
4                 2
5                NR

In [82]:
df_damages = spark.read.csv('../data/raw/Damages_use.csv', header=True, inferSchema=True)

In [83]:
df_damages.show()

+--------+--------------------+
|CRASH_ID|    DAMAGED_PROPERTY|
+--------+--------------------+
|14768622|             MAILBOX|
|14768622|         YARD, GRASS|
|14838668|           GUARDRAIL|
|14838685|           ROAD SIGN|
|14838693|        2009 MAZDA 3|
|14838834|    CHAIN LINK FENCE|
|14838841|WOODED POLE ON SO...|
|14838842|CITY SIGN FOR TUR...|
|14838877|    FENCE-CHAIN LINK|
|14838977|LANDSCAPING AND M...|
|14839047|  APARTMENT BUILDING|
|14839047|         STREET SIGN|
|14839048|               HOUSE|
|14839314|          LIGHT POLE|
|14839330|MINOR DAMAGE TO W...|
|14839442|CITY OF SAN ANTON...|
|14839472|         METAL POLES|
|14839517|    WATER ATTENUATOR|
|14839519|        UTILITY POST|
|14839551|30 FEET OF GUARDRAIL|
+--------+--------------------+
only showing top 20 rows

In [90]:
df_damages.filter(col("DAMAGED_PROPERTY").isNull()).show()

+--------+----------------+
|CRASH_ID|DAMAGED_PROPERTY|
+--------+----------------+
|14994174|            NULL|
|15090076|            NULL|
|15169409|            NULL|
|15179663|            NULL|
|15218194|            NULL|
|15405595|            NULL|
+--------+----------------+

In [85]:
df_damages.groupBy('DAMAGED_PROPERTY').agg(count("*").alias('cnt')).select('DAMAGED_PROPERTY', 'cnt').orderBy(col('cnt').desc()).show()

+-----------------+----+
| DAMAGED_PROPERTY| cnt|
+-----------------+----+
|            FENCE|1411|
|       GUARD RAIL| 687|
|       LIGHT POLE| 588|
|          MAILBOX| 524|
|        GUARDRAIL| 524|
|        STOP SIGN| 455|
|BARBED WIRE FENCE| 415|
|     UTILITY POLE| 401|
|             TREE| 343|
|         MAIL BOX| 301|
|     FIRE HYDRANT| 296|
| CONCRETE BARRIER| 290|
| CHAIN LINK FENCE| 289|
|      STREET SIGN| 225|
|    CABLE BARRIER| 210|
|        ROAD SIGN| 208|
|   TELEPHONE POLE| 187|
|             SIGN| 146|
|       POWER POLE| 137|
|     WOODEN FENCE| 130|
+-----------------+----+
only showing top 20 rows

In [122]:
from pyspark.sql.functions import col, lower, when, count

In [126]:
df_temp = df_damages.filter((lower(col("DAMAGED_PROPERTY")).like("%no d%")) & (col("DAMAGED_PROPERTY").isNotNull()) & (col("DAMAGED_PROPERTY")!='NONE')).distinct().toPandas()

In [127]:
display(df_temp)

    CRASH_ID                         DAMAGED_PROPERTY
0   15021067                          NO DUMPING SIGN
1   15077789                    LIGHT POLE- NO DAMAGE
2   15427383                GUARDRAIL HIT.NO DMG SEEN
3   14974797  GUARD RAIL (POSSIBLE CONTACT-NO DAMAGE)
4   15208248          CEMENT RETAINING WALL-NO DAMAGE
5   15268545               CONCRETE BARRIER-NO DAMAGE
6   15312976              CONCRETE MEDIAN (NO DAMAGE)
7   15487949                          NO DUMPING SIGN
8   15119229               CONCRETE BARRIER-NO DAMAGE
9   15455834                          NO DUMPING SIGN
10  15081674             NO DAMAGE, SIGNAL LIGHT POLE
11  15525236                       NO DAMAGE TO FENCE
12  14881426       NO DAMAGES TO THE CITY POLE 214385
13  15195190                   NO DAMAGE TO BARRICADE

In [114]:
df_damages.filter(col('CRASH_ID')=='15408161').show()

+--------+------------------+
|CRASH_ID|  DAMAGED_PROPERTY|
+--------+------------------+
|15408161|    BRICK MAIL BOX|
|15408161|       MAILBOX-237|
|15408161|       MAILBOX-339|
|15408161|NEWS PAPER MAILBOX|
|15408161|       MAILBOX-376|
|15408161|     MAILBOX-13286|
|15408161|        WIRE FENCE|
|15408161|      MAIL BOX-341|
|15408161|NEWS PAPER MAILBOX|
|15408161|    MAIL BOX-13292|
|15408161|      MAIL BOX-403|
|15408161|       MAILBOX-250|
|15408161|       MAILBOX-345|
+--------+------------------+

In [111]:
df_damages.groupBy('CRASH_ID').agg(count("*").alias('cnt')).select('CRASH_ID', 'cnt').orderBy(col('cnt').desc()).show()

+--------+---+
|CRASH_ID|cnt|
+--------+---+
|15408161| 13|
|15193736|  9|
|14940754|  9|
|15227932|  8|
|14951975|  7|
|15040586|  7|
|15496713|  6|
|14956812|  6|
|15295980|  6|
|14934829|  6|
|15006027|  6|
|14945860|  6|
|15453493|  5|
|15355757|  5|
|15334766|  5|
|15181376|  5|
|15490591|  5|
|15039656|  5|
|15314611|  5|
|15214866|  5|
+--------+---+
only showing top 20 rows

In [185]:
df = spark.read.csv('../output/anaysis/analysis_8.csv/', header=True)

In [186]:
df.show()

+-----------------------------------------------------------------------------------------------+
|Top 5 Zip Codes with highest number crashes with alcohols as the contributing factor to a crash|
+-----------------------------------------------------------------------------------------------+
|                                                                                          78521|
|                                                                                          75067|
|                                                                                          76010|
|                                                                                          78666|
|                                                                                          78130|
+-----------------------------------------------------------------------------------------------+

In [143]:
df_charges = spark.read.csv('../data/raw/Charges_use.csv', header=True, inferSchema=True)

In [144]:
df_charges.select('CHARGE').distinct().show()

+--------------------+
|              CHARGE|
+--------------------+
|FAIL TO PASS SAFE...|
| DRIVING W/O LICENSE|
|FAIL TO PASS LEFT...|
|UNSAFE SPEED/ DIS...|
|WRONG SIDE OF ROA...|
|FAIL TO YIELD AT ...|
|FAILED TO YIELD R...|
|RIDE NOT SECURE B...|
|FAILURE TO CONTRO...|
|FAILURE TO CONTRO...|
|FAILED TO STOP - ...|
|FAIL TO DRIVE INS...|
|FAIL STOP AND GIV...|
|550.024(A)-DUTY U...|
|F/T Y ROW MAKING ...|
|EXP REGISTRATION ...|
|FYROW-STOP INTERS...|
|   FTYROW OPEN DRIVE|
|UNSAFE LANE CHANG...|
|POSSESSION OF A C...|
+--------------------+
only showing top 20 rows

In [146]:
df_charges.filter(col('CHARGE').isNull()).count()

104

In [150]:
df_charges.filter(lower(col('CHARGE')).like('na')).show()

+--------+--------+--------+------+------------+
|CRASH_ID|UNIT_NBR|PRSN_NBR|CHARGE|CITATION_NBR|
+--------+--------+--------+------+------------+
+--------+--------+--------+------+------------+

In [151]:
df_unit.groupBy(col('VEH_COLOR_ID')).agg(count("*").alias('cnt')).select('VEH_COLOR_ID', 'cnt').orderBy(col('cnt').desc()).show()

+------------+-----+
|VEH_COLOR_ID|  cnt|
+------------+-----+
|         WHI|38354|
|         BLK|27749|
|         SIL|20777|
|         GRY|18174|
|         BLU|15471|
|         RED|14095|
|         GRN| 6767|
|          NA| 6193|
|         MAR| 6010|
|         TAN| 4846|
|         GLD| 4062|
|         BRO| 2531|
|          99| 2330|
|         BGE| 2200|
|         YEL| 1283|
|         MUL|  966|
|         ONG|  816|
|         PLE|  393|
|         BRZ|  154|
|          98|  149|
+------------+-----+
only showing top 20 rows

In [154]:
df_unit.filter(col('VEH_COLOR_ID').like("None")).count()

0

In [157]:
df_temp = df_unit.select('VEH_LIC_STATE_ID').distinct().toPandas()
display(df_temp)

   VEH_LIC_STATE_ID
0                AZ
1                SC
2                LA
3                MN
4                NJ
5                MX
6                OR
7                NA
8                98
9                VA
10               RI
11               KY
12               WY
13               NH
14               MI
15               NV
16               WI
17               ID
18               CA
19               CT
20               NE
21               MT
22               NC
23               VT
24               MD
25               MO
26               IL
27               WA
28               ND
29               MS
30               AL
31               IN
32               OH
33               TN
34               NM
35               IA
36               PA
37               SD
38               NY
39               UN
40               TX
41               WV
42               GA
43               MA
44               KS
45               FL
46               CO
47               AR
48               OK
49               UT
50               CD
51               DC
52               DE
53               ME
54               US
55               AS
56               AK
57               HI
58               DS

In [169]:
from pyspark.sql.functions import collect_list, size

In [175]:
df_x = df_unit.groupBy('VIN').agg(collect_list('CRASH_ID').alias("crash_ids")).select('VIN', 'crash_ids').orderBy(size('crash_ids').desc())

In [176]:
df_x.withColumn('new', size('crash_ids')).select("*").show()

+-----------------+--------------------+----+
|              VIN|           crash_ids| new|
+-----------------+--------------------+----+
|             NULL|[14840537, 148408...|7699|
|          UNKNOWN|[14875379, 148753...|  94|
|                0|[14890931, 148967...|  13|
|              UNK|[14897263, 149624...|   8|
|3AKJGLBG4FSGM4202|[15209943, 152099...|   8|
|3AKJGLD51FSGD5075|[14981993, 149819...|   8|
|1GBV8C4C55F508252|[14959420, 149594...|   8|
|1FTRW07L23KA57377|[14875197, 148861...|   7|
|1FTRX17W3XKB38908|[14938135, 149381...|   6|
|1M1AA13YX1W140614|[14915730, 149157...|   6|
|1XKTD69X9YJ856427|[14897861, 148978...|   6|
|15GGB211681079412|[15115681, 151156...|   4|
|1HTSCABN81H389071|[14963156, 149631...|   4|
|1FT7W2B67FED39702|[14980922, 149809...|   4|
|2FUPCSEB4VA840265|[15079439, 150794...|   4|
|1FUJA6AV84LM28734|[15283244, 152832...|   4|
|1FUJAPCK45DU62724|[15051775, 150517...|   4|
|1FUJA6CK37DX37268|[14886408, 148864...|   4|
|3AKBCYCY5GDGZ8960|[15270141, 152701...|   4|
|1FUJGLDR3GLGW8650|[14908836, 149088...|   4|
+-----------------+--------------------+----+
only showing top 20 rows

In [178]:
df_person.select(col('DRVR_LIC_STATE_ID')).distinct().show()

+-----------------+
|DRVR_LIC_STATE_ID|
+-----------------+
|             Utah|
|        Minnesota|
|             Ohio|
|         Arkansas|
|           Oregon|
|               NA|
|            Texas|
|     North Dakota|
|     Pennsylvania|
|      Connecticut|
|         Nebraska|
|          Vermont|
|           Nevada|
|      Puerto Rico|
|       Washington|
|         Illinois|
|         Oklahoma|
|          Unknown|
|            Other|
|           Alaska|
+-----------------+
only showing top 20 rows

In [179]:
df_temp = df_person.groupBy('DRVR_LIC_STATE_ID').agg(count("*").alias('cnt')).select('DRVR_LIC_STATE_ID', 'cnt').orderBy(col('cnt').desc()).toPandas()

In [180]:
display(df_temp)

           DRVR_LIC_STATE_ID     cnt
0                      Texas  136335
1                         NA    9854
2                    Unknown    2268
3                     Mexico    1007
4                  Louisiana     752
5                 New Mexico     699
6                 California     596
7                    Florida     544
8                   Oklahoma     512
9                      Other     352
10                  Arkansas     344
11                   Arizona     256
12                   Georgia     247
13                  Colorado     203
14                  Illinois     196
15                 Tennessee     182
16                  Missouri     181
17               Mississippi     180
18            North Carolina     161
19                    Kansas     141
20                   Alabama     135
21                  Michigan     132
22                Washington     127
23                      Ohio     119
24                  New York     114
25                  Virginia     108
26            South Carolina     101
27              Pennsylvania      88
28                   Indiana      86
29                 Wisconsin      76
30                 Minnesota      75
31                    Nevada      72
32                  Maryland      63
33                  Kentucky      54
34                      Iowa      52
35                      Utah      50
36                New Jersey      50
37                    Canada      50
38             Massachusetts      46
39                    Oregon      44
40                     Idaho      36
41                  Nebraska      32
42               Connecticut      31
43                    Alaska      29
44                   Montana      22
45              North Dakota      19
46                    Hawaii      18
47                   Wyoming      17
48              South Dakota      17
49             West Virginia      15
50               Puerto Rico       9
51                   Vermont       9
52      District of Columbia       8
53             New Hampshire       8
54                     Maine       8
55  American Samoa (Islands)       7
56                  Delaware       7
57              Rhode Island       5
58  Northern Mariana Islands       2
59                      Guam       1
60               Wake Island       1
61       U.S. Virgin Islands       1